h1,h2,h3,h4,h5,h6, p {
  color: white;
}

.pokemon {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.types {
  display: flex;
  gap: .25rem;
}
